# --------------------------------------------------
# Python
# --------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
venv/
env/

# --------------------------------------------------
# IDEs
# --------------------------------------------------
.vscode/
.idea/

# macOS
.DS_Store

# --------------------------------------------------
# Testing
# --------------------------------------------------
.pytest_cache/
.coverage
htmlcov/
.cache/

# --------------------------------------------------
# Logs
# --------------------------------------------------
*.log

# --------------------------------------------------
# Jupyter
# --------------------------------------------------
.ipynb_checkpoints/

# --------------------------------------------------
# Environment variables
# --------------------------------------------------
.env
.env.*

# --------------------------------------------------
# MLflow
# --------------------------------------------------
mlruns/
mlflow.db

# --------------------------------------------------
# Local model artifacts
# --------------------------------------------------
models/

# --------------------------------------------------
# DVC tracked data
# --------------------------------------------------
data/raw/
data/processed/

# --------------------------------------------------
# Temporary files
# --------------------------------------------------
*.tmp
*.bak